@using JobManagement.Resources;
<link href="~/css/log-styles.css" rel="stylesheet" />
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="login-header-big txt-log-page-title">@AccountResource.NotAccount</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-20">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="log-page-img" src="~/img/adminprofile111111.jpeg" />
                    </div>
                </div>

                <p class="log-page-txt">
                    @AccountResource.UserProfileDescriptionMsg
                </p>
                <div class="note">
                    <a class="type-profile" asp-controller="Account" asp-action="UserRegister">@AccountResource.UserProfile</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-20">
                <div class="col-md-12">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="log-page-img" src="~/img/job9.png" />
                    </div>
                </div>
                <p class="log-page-txt">
                    @AccountResource.BusinessUserProfileDescriptionMsg
                </p>
                <div class="note">
                    <a class="type-profile" asp-controller="Account" asp-action="BusinessRegister">@AccountResource.businessProfile</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding log-form-border">
            <form id="login-form" class="smart-form client-form">
                <header>
                    @AccountResource.ResetPassword
                </header>
                <fieldset>
                    <section class="txt-normal">
                        @AccountResource.InstructionRessetPass
                    </section>
                </fieldset>
                <footer>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> @AccountResource.LogIn
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>
</div>