@using JobManagement.Resources
@model JobManagement.Models.Account.ResetPasswordViewModel

<link href="~/css/log-styles.css" rel="stylesheet" />
<div class="container">
    <div class="row container-row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-4 col-lg-4">
            <div class="well no-padding log-form-border">
                <form asp-controller="Account" asp-action="ResetPassword" id="login-form" class="smart-form client-form">
                    @Html.AntiForgeryToken()
                    <header>
                        @AccountResource.ResetPass
                    </header>

                    <fieldset>
                        <section>
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" asp-for="Password" placeholder="@AccountResource.Password">
                                <b class="tooltip tooltip-bottom-right">@AccountResource.DontForgotPass</b>
                                <span class="text-danger txt-small" asp-validation-for="Password"></span>
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" asp-for="ConfirmPassword" placeholder="@AccountResource.ConformPassword">
                                <b class="tooltip tooltip-bottom-right">@AccountResource.DontForgotPass</b>
                                <span class="text-danger txt-small" asp-validation-for="ConfirmPassword"></span>
                            </label>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary">
                            @AccountResource.Save
                        </button>
                    </footer>
                </form>

            </div>

        </div>
    </div>
</div>